@import "fonts.less";
@import "../lib/lesshat-2.0.15.prefixed.less";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  .standardText();

  padding: 20px;
  max-width: 960px;
  margin: 0 auto;

  &>*:first-child {
    margin-top: 0 !important;
  }

  >*:last-child {
    margin-bottom: 0 !important;
  }

  #app {
    #categories {
      ol {
        cursor: pointer;
        list-style-type: none;
        .lh-user-select(none);
      }
    }
  }
}